:root {
	/* Pallete Coloros */
	--slate-50: #F8FAFC;
	--slate-100: #F1F5F9;
	--salte-200: #E2E8F0;
	--slate-300: #CBD5E1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-950: #020617;
	--violet-200: #DDD6FE;
	--violet-400: #A78BFA;
	--violet-500: #8B5BF6;
	--violet-600: #7C3AED;
	/* Default styles */
	font-family: 'Satoshi', sans-serif;
	font-size: 16px;
	background: var(--slate-50)
}

/* ---- General Styles ---- */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 800px;
	width: 90%;
	margin: auto;
}

input, button {
	outline: none;
	font-family: 'Satoshi', sans-serif;
}

a {
	text-decoration: none;
}

/* ---- Form Styles ---- */
.form {
	margin-top: 6rem;

	.form-heading {
		font-size: 3rem;
		color: var(--slate-950);
		margin-bottom: 0.5rem;
	}
}

/* ---- Input Styles ---- */
.input {
	position: relative;
}

.input-control {
	width: 100%;
	padding: 1.125rem;
	background: var(--slate-100);
	border: 0.125rem solid var(--slate-300);
	border-radius: 0.5rem;
	box-shadow: 0rem 0rem 0rem 0.25rem var(--salte-200);
	font-size: 0.875rem;
	color: var(--slate-500);
	transition: .2s all ease-out;

	&::placeholder {
		color: var(--slate-500);
	}

	&:focus {
		border-color: var(--violet-400);
		box-shadow: 0rem 0rem 0.125rem 0.25rem var(--violet-200);
	}
}

.input-submit {
	position: absolute;
	top: 50%;
	right: 0.5625rem;
	transform: translateY(-50%);
	padding: 0.625rem 1.875rem;
	background: var(--violet-500);
	font-size: 0.875rem;
	color: var(--slate-50);
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: .2s all ease-in;

	&:hover {
		background-color: var(--violet-600);
		box-shadow: 0rem 0rem 0.5rem 0.0625rem var(--violet-400);
	}

	&:active {
		background-color: var(--violet-400);
		transform: scale(0.99);
	}
}

/* ---- List styles ---- */
.list {
	margin-top: 3rem;

	.list-container {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.875rem;
	}
}

/* ---- Item list styles ---- */
.item {
	display: flex;
	align-items: center;
	gap: 0.875rem;

	&:hover .dropdown-button {
		color: var(--slate-500);
	}

	.item-text {
		font-size: 1rem;
		color: var(--slate-500);
		transition: .2s all ease-out;
	}
}

.item-checkbox {
	position: relative;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid var(--slate-300);
	border-radius: 100%;
	transition: .2s all ease;
	cursor: pointer;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1.125rem;
		height: 1.125rem;
		background: var(--slate-50);
		border-radius: 100%;
		transition: .2s all ease;
	}

	&:hover {
		border-color: var(--slate-400);
	}

	&:hover::after {
		background: var(--slate-300);
	}

	&:checked {
		border-color: var(--violet-400);
	}

	&:checked + .item-text {
		color: var(--slate-400);
		text-decoration: line-through;
	}

	&:checked::after {
		background: var(--violet-500);
	}
}

/* ---- Dropdown item styles ---- */
.dropdown {
	position: relative;

	.dropdown-button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		background: none;
		color: var(--slate-50);
		cursor: pointer;
		transition: .2s all ease;
	}

	&:hover .dropdown-button{
		color: var(--slate-950);
	}

	.dropdown-button svg {
		width: 1.5rem;
	}

	.dropdown-content {
		position: absolute;
		opacity: 0;
		transform: translateY(-0.625rem);
		padding: 0.25rem;
		background: var(--slate-100);
		border: 1px solid var(--slate-300);
		border-radius: 0.5rem;
		transition: .2s all ease;
	}

	&:hover .dropdown-content {
		opacity: 1;
		transform: translateY(0);
	}

	.dropdown-item {
		display: flex;
		padding: 0.25rem;
		border-radius: 0.25rem;
		align-items: center;
		gap: 0.875rem;
		color: var(--slate-500);

		& > svg {
			width: 1.125rem;
		}

		&:hover {
			background: var(--salte-200);
		}
	}
}