:root {
	/* Pallete Coloros */
	--slate-50: #F8FAFC;
	--slate-100: #F1F5F9;
	--salte-200: #E2E8F0;
	--slate-300: #CBD5E1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-950: #020617;
	--violet-400: #A78BFA;
	--violet-500: #8B5BF6;
	--violet-600: #7C3AED;
	/* Default styles */
	font-family: 'Satoshi', sans-serif;
	font-size: 16px;
	background: var(--slate-50)
}